.App {
  padding: 1rem;
}

.btn-link {
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(63, 176, 214);
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: underline;
}
